
body {
    font-family: "American Typewriter", sans-serif;
    margin: 0;
    background-color: #F6F5FA;
    color : #1A1A2E;
}
header {
    background-color: #B8B0FF;
    color: #1A1A2E;
    text-align: center;
    padding: 20px;
    border-radius: 0 0 24px 24px;
    font-size: 30px;
    
}

header h1 {
    margin: 0;
}
main {
    display: flex;
    gap: 20px;
    margin: 20px;
}
.todo {
    background-color: #ebd172;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
}

.detail {
    background-color: #a7adfe;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
}

.item {
    display: flex;
    gap: 10px;
    border: 1px solid #1A1A2E;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.item h3 {
    margin: 0;
}

.item p {
    margin: 5px 0 0;
    color: #2c2c2e;
}

header button, .item button, .detail button,form button{
    background-color: #ebd172;
    color: #2c2c2e;
    border: none;
    padding: 20px 20px;
    border-radius: 20px;
    font-size: 15px;
}

aside {
    background-color: #ffb0ed;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    margin-bottom: 5px;
}

form input,
form textarea {
    padding: 8px;
}

form textarea {
    height: 80px;
}

form button {
    margin-top: 15px;
}

/* Untuk layar HP */
@media (max-width: 600px) {

    main {
        flex-direction: column;
    }

    .todo,
    .detail {
        width: auto;
    }

}

/* Styling untuk Dark Mode */
body.dark-mode {
    background-color: #1A1A2E;
    color: #1A1A2E;
}

body.dark-mode header {
    background-color: #B8B0FF;
    color: #1A1A2E;
}

body.dark-mode .todo{
    background-color: #ebd172;
}
body.dark-mode .detail{
    background-color: #a7adfe;
}
body.dark-mode aside {
    background-color: #ffb0ed;
    color: #1A1A2E;
}

body.dark-mode .item {
    border-color: #1A1A2E;
}

body.dark-mode .item p {
    color: #F6F5FA;
}